<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width">
  <meta http-equiv="refresh" content="0; url=<%=url%>" />
  <title>田一块微信验证成功</title>
  <style>
    h4 {
      color: #888;
    }
    h4 > a {
      color: #d01010;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <h4>身份验证成功，正在跳转...</h4>
  <h4>如长时间没有跳转，请点击<a href="<%=url%>">这里</a></h4>
</body>

</html>
